/* -------------------- Global styles ------------------------ */

html
{
  /* Available Google Fonts
  font-family: 'Germania One', cursive;
  font-family: 'Baloo Chettan', cursive;
  */
  font-size: 10px;
  font-family: 'Baloo Chettan', cursive;
  color: white;
}

/*
  Google search for the background:
  https://www.google.com/search?biw=1280&bih=578&tbs=isz%3Al&tbm=isch&sa=1&ei=yGmfXOn5BOismwX7iIzQBg&q=book&oq=book&gs_l=img.3..0l10.9891.10560..10692...0.0..0.195.487.0j3......1....1..gws-wiz-img.N5921fTvVek#imgrc=Gu3aWKZdSIQvbM:
*/

body
{
  margin:0;
  padding:0;
}

/* --------------------The end of global styles ------------------------ */

/* -------------------- Header styling ------------------------ */

#header
{
  height: 4.5rem;
  width: 100%;
  background-color: #e5282d;
  line-height: 4.5rem;
}

#page_title
{
  height: 4.5rem;
  width: 20rem;
  float: left;
  text-align: right;
  color: white;
  font-size: 3.5rem;
  font-family: 'Germania One', cursive;
}

#menu
{
  float: left;
  height: 4.5rem;
  width: calc(100% - 20rem);
}

#menu > .menu_list
{
  margin: 0;
  padding: 0;
  width: 53rem;
  height: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

#menu > .menu_list .menu_level_1
{
  float: left;
  display: block;
  height: 4.5rem;
  widht: 10rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

#menu > .menu_list .menu_level_1:hover
{
  height: 4.3rem;
  border-bottom: 0.2rem solid white;
}

#menu > .menu_list a
{
  text-decoration: none;
  color: white;
}

.icon-home
{
  font-size: 2.5rem;
}

/* -------------------- The end of header styling ------------------------ */

/* -------------------- Search section styles ------------------------ */

.icon-search
{
  color: white;
  font-size: 2rem;
}

#search_section
{
  height: 35rem;
  background-image: url(../img/background1.png);
  background-size: cover;
  padding-top: 2rem;
}

#search_teaser
{
  float: left;
  margin-right: 55rem;
  width: 25rem;
  height: 12rem;
  text-align: left;
}

#search_teaser > p:first-child
{
  font-size: 2.5rem;
}

#search_teaser > p:last-child
{
  font-size: 1.7rem;
}

#search_box
{
  float: left;
  width: 25rem;
  height: 12rem;
  text-align: center;
}

#search_title
{
  color: white;
  font-size: 3.5rem;
  font-family: 'Germania One', cursive;
  line-height: 7rem;
}

#search
{
  line-height: 3rem;\
  width: inherit;
  height: 5rem;
}

#search input
{
  float: left;
  width: 16rem;
  height: 5rem;
  border: none;
  line-height: 5rem;
  padding: 0 2rem;
  margin: 0;
  font-size: 1.6rem;
  color: #969696;
  font-family: 'Baloo Chettan', cursive;
}

#search button
{
  float: left;
  height: 5rem;
  width: 5rem;
  background: url(../images/search-button.29c949af667b.png) 0 0 no-repeat;
  background-color: #e5282d;
  border: none;
  padding: 0;
  font-family: 'Baloo Chettan', cursive;
}

/* -------------------- The end of search section styling ------------------------ */

/* -------------------- Content styles ------------------------ */

#content
{

}

/* -------------------- The end of content styles ------------------------ */

/* -------------------- Footer styles ------------------------ */

#footer
{
  height: 10rem;
  width: 100%;
  background-color: white;
}

/* -------------------- The end of footer styling ------------------------ */

/* -------------------- Media queries ------------------------ */

@media (min-width: 576px)
{

}

@media (min-width: 768px)
{
  #title
  {
    text-align: center;
  }
}

@media (min-width: 992px)
{
  #title
  {
    text-align: right;
  }
}

@media (min-width: 1200px)
{
  #title
  {
    text-align: right;
  }
}

/* -------------------- The end of media queries ------------------------ */
