html
{
  font-size: 10px;
}

body
{
  margin:0;
  padding:0;
}

#header
{
  height: 4.5rem;
  width: 100%;
  background-color: #e5282d;
  line-height: 4.5rem;
}

#content
{
  height: 30rem;
  width: 100%;
  background-color: green;
}

#footer
{
  height: 10rem;
  width: 100%;
  background-color: brown;
}

#title
{
  height: 4.5rem;
  width: 20rem;
  float: left;
  text-align: center;
}

#menu
{
  float: left;
  height: 4.5rem;
  width: calc(100% - 20rem);
}

#menu > .menu_list
{
  margin: 0;
  padding: 0;
  width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

#menu > .menu_list > .menu_level_1
{
  float: left;
  display: block;
  height: 100%;
  widht: 100px;
  margin-right: 2.5rem;
}

@media (min-width: 576px)
{

}

@media (min-width: 768px)
{

}

@media (min-width: 992px)
{

}

@media (min-width: 1200px)
{
  
}
