/* -------------------- Global styles ------------------------ */

html
{
  /* Available Google Fonts
  font-family: 'Germania One', cursive;
  font-family: 'Baloo Chettan', cursive;
  */
  font-size: 10px;
  font-family: 'Baloo Chettan', cursive;
  color: white;
}

/*
  Google search for the background:
  https://www.google.com/search?biw=1280&bih=578&tbs=isz%3Al&tbm=isch&sa=1&ei=yGmfXOn5BOismwX7iIzQBg&q=book&oq=book&gs_l=img.3..0l10.9891.10560..10692...0.0..0.195.487.0j3......1....1..gws-wiz-img.N5921fTvVek#imgrc=Gu3aWKZdSIQvbM:
*/

body
{
  margin:0;
  padding:0;
  background-color: #eee;
}

/* --------------------The end of global styles ------------------------ */

/* -------------------- Header styling ------------------------ */

#header
{
  height: 4.5rem;
  width: 100%;
  background-color: #3b5998;
  line-height: 4.5rem;
}

#page_title
{
  height: 4.5rem;
  width: 13.5rem;
  padding-left: 6.5rem;
  float: left;
  color: white;
  font-size: 3.5rem;
  font-family: 'Germania One', cursive;
}

#page_title > a
{
  text-decoration: none;
  color: white;
  display: block;
  height: 4.5rem;
  width: 100%;
}

#user_box
{
  float: left;
  height: 4.5rem;
  width: 10rem;
  text-align: center;
}

#user_box a
{
  text-decoration: none;
  color: white;
  display: block;
}

#user_box a:hover
{
  height: 4.3rem;
  border-bottom: 0.2rem solid white;
}

#menu
{
  float: left;
  height: 4.5rem;
  width: calc(100% - 20rem - 10rem);
}

#menu > .menu_list
{
  margin: 0;
  padding: 0;
  width: 53rem;
  height: 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

#menu > .menu_list .menu_level_1
{
  float: left;
  display: block;
  height: 4.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

#menu > .menu_list .menu_level_1:hover
{
  height: 4.3rem;
  border-bottom: 0.2rem solid white;
}

#menu > .menu_list a
{
  text-decoration: none;
  color: white;
}

.icon-home
{
  font-size: 2.5rem;
}

/* -------------------- The end of header styling ------------------------ */

/* -------------------- Search section styles ------------------------ */

.icon-search
{
  color: white;
  font-size: 2rem;
}

#search_section
{
  height: 35rem;
  background-image: url(../img/background1.png);
  background-size: cover;
  padding-top: 2rem;
  border-bottom: 0.2rem solid #3b5998;
}

#search_teaser
{
  float: left;
  margin-right: calc(100% - 25rem - 35rem);
  width: 25rem;
  height: 15rem;
  text-align: left;
}

#search_teaser > p:first-child
{
  font-size: 2.5rem;
}

#search_teaser > p:last-child
{
  font-size: 1.7rem;
}

#search_box
{
  float: left;
  width: 35rem;
  height: 12rem;
  text-align: center;
}

#search_title
{
  color: white;
  font-size: 3.5rem;
  font-family: 'Germania One', cursive;
  line-height: 7rem;
}

#search
{
  line-height: 3rem;\
  width: inherit;
  height: 5rem;
}

#search input
{
  width: 26rem;
  float: left;
  height: 5rem;
  border: none;
  line-height: 5rem;
  padding: 0 2rem;
  margin: 0;
  font-size: 1.6rem;
  color: #3b5998;
  font-family: 'Baloo Chettan', cursive;
}

#search input::placeholder
{
  color: #3b5998;
  opacity: 1;
}

#search input::-ms-input-placeholder
{
  color: #3b5998;
  opacity: 1;
}

#search input:-ms-input-placeholder
{
  color: #3b5998;
  opacity: 1;
}

#search button
{
  float: left;
  height: 5rem;
  width: 5rem;
  background: url(../images/search-button.29c949af667b.png) 0 0 no-repeat;
  background-color: #3b5998;
  border: none;
  padding: 0;
  font-family: 'Baloo Chettan', cursive;
}

#search button:hover
{
  background-color: #2a4887;
  cursor: pointer;
}

/* -------------------- The end of search section styling ------------------------ */

/* -------------------- Content styles ------------------------ */

.heading_block
{
  height: 35rem;
  background-image: url(../img/background1.png);
  background-size: cover;
  padding-top: 0.1rem;
  border-bottom: 0.2rem solid #3b5998;
}

.heading_block > .container
{
  text-align: center;
  line-height: 35rem;
  font-size: 4rem;
}

/* -------------------- The end of content styles ------------------------ */

/* -------------------- Popular searches section ------------------------ */

.section_title
{
  text-align: center;
  font-size: 3rem;
  border-bottom: 0.1rem solid #3b5998;
  width: 40rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#popular_section
{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #3b5998;
}

#popular_terms
{
  width: 60rem;
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  line-height: 3.5rem;
}

#popular_terms #term_1 a
{
  font-size: 2.6rem;
  color: #444;
}
#popular_terms #term_2 a
{
  font-size: 1.8rem;
  color: #eec42c;
}
#popular_terms #term_3 a
{
  font-size: 3.3rem;
  color: #3b5998;
}
#popular_terms #term_4 a
{
  font-size: 2.6rem;
  color: #444;
}
#popular_terms #term_5 a
{
  font-size: 3.1rem;
  color: #eec42c;
}
#popular_terms #term_6 a
{
  font-size: 1.5rem;
  color: #3b5998;
}
#popular_terms #term_7 a
{
  font-size: 2.3rem;
  color: #444;
}
#popular_terms #term_8 a
{
  font-size: 3.1rem;
  color: #eec42c;
}
#popular_terms #term_9 a
{
  font-size: 2.3rem;
  color: #3b5998;
}
#popular_terms #term_10 a
{
  font-size: 3.8rem;
  color: #444;
}
#popular_terms #term_11 a
{
  font-size: 2.6rem;
  color: #eec42c;
}
#popular_terms #term_12 a
{
  font-size: 1.5rem;
  color: #3b5998;
}
#popular_terms #term_13 a
{
  font-size: 1.3rem;
  color: #444;
}
#popular_terms #term_14 a
{
  font-size: 2.6rem;
  color: #eec42c;
}
#popular_terms #term_15 a
{
  font-size: 1.3rem;
  color: #3b5998;
}
#popular_terms #term_16 a
{
  font-size: 3.3rem;
  color: #444;
}
#popular_terms #term_17 a
{
  font-size: 3.3rem;
  color: #eec42c;
}
#popular_terms #term_18 a
{
  font-size: 1.8rem;
  color: #3b5998;
}
#popular_terms #term_19 a
{
  font-size: 3.1rem;
  color: #444;
}
#popular_terms #term_20 a
{
  font-size: 1.5rem;
  color: #eec42c;
}

#popular_terms span
{
  padding: 0.5rem;
}

#popular_terms span a
{
  text-decoration: none;
  font-family: 'Germania One', cursive;
}

#popular_terms span a:hover
{
    text-decoration: underline;
}

/* -------------------- The end of popular section styles ------------------------ */
/* -------------------- Results styles ------------------------ */

#results
{
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #3b5998;
}

.result_name
{
  text-align: center;
  font-size: 3rem;
  border-bottom: 0.1rem solid #3b5998;
  width: 75rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.result_desc
{
  text-align: center;

}

/* -------------------- The end of results section styles ------------------------ */
/* -------------------- Search page styles ------------------------ */

#term_list
{
  color: #3b5998;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#term_list .container
{
  padding-left: 5rem;
}

#term_list .body
{
  position: relative;
  float: left;
  width: calc(100% - 5.1rem - 2.5rem);
  padding-right: 2.5rem;
}

#term_list .body #top_btn
{
  display: none;
  position: fixed;
  bottom: 5.5rem;
  right: 11rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

#term_list .body #top_btn:hover
{
  background-color: #2a4887;
}

#term_list .nav
{
  position: -webkit-sticky;
  position: sticky;
  top: 1.5rem;
  right: 0;
  float: left;
  width: 5rem;
  text-align: center;
  border-left: 0.1rem solid #3b5998;
}

#term_list .nav span
{
  display: inline-block;
  height: 2.2rem;
  width: 5rem;
}

#term_list .nav a
{
  display: block;
  width: 50%;
  height: 100%;
  text-decoration: none;
  color: #3b5998;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

#term_list .nav a:hover
{
  border-bottom: 0.2rem solid #3b5998;
}

#term_list .term_category
{
  font-size: 3rem;
  text-transform: capitalize;
  width:5rem;
  text-align: center;
  border-bottom: 0.2rem solid #3b5998;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#term_list .term_category:first-child
{
  margin-top: 0;
}

#term_list .term_name
{
  margin-left: 4rem;
  font-size: 2.2rem;
}

#term_list .term_name_full
{
  font-size: 1.5rem;
}

#term_list .term_name a
{
  text-decoration: none;
  color: #3b5998;
}

#term_list .term_name a:hover
{
  border-bottom: 0.1rem dashed #3b5998;
}

#term_list .term_desc
{
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 8rem;
  font-size: 1.3rem;
  font-family: 'Germania One', cursive;
}

/* -------------------- The end of search page styles ------------------------ */
/* -------------------- Footer styles ------------------------ */

#footer
{
  height: 5rem;
  width: 100%;
  background-color: #3b5998;
  text-align: center;
  line-height: 5rem;
  border-top: 0.05rem solid white;
}

.footer_fixed
{
  position: fixed;
  bottom: 0;
}

#footer > .container
{
  font-size: 1.1rem;
}

/* -------------------- The end of footer styling ------------------------ */

/* -------------------- Login styles ------------------------ */

#login
{
  width: 40rem;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 5rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  border: 0.2rem solid white;
  background-color: #3b5998;
  color: white;
}

#login form
{
  display: block;
  margin: 0;
}

#login form .inputs
{
  float: left;
  width: 30rem;
  height: 11rem;
}

#login form input
{
  width: 26rem;
  height: 5rem;
  border: none;
  border-radius: 1rem;
  line-height: 5rem;
  padding: 0 2rem;
  margin: 0;
  font-size: 1.6rem;
  color: #3b5998;
  font-family: 'Baloo Chettan', cursive;
}

#login form input:first-child
{
  margin-bottom: 1rem;
}

#login form button
{
  float: left;
  height: 5rem;
  width: 7.5rem;
  background-color: #3b5998;
  border: 0.1rem solid white;
  border-radius: 1rem;
  padding: 1rem;
  font-family: 'Baloo Chettan', cursive;
  margin-top: 3rem;
  margin-left: 2.5rem;
  color: white;
  font-size: 2rem;
}

#login form button:hover
{
  color: #3b5998;
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
}

#login .login_links
{
  height: 5rem:
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  padding-left: 0.5rem;
}

#login .login_links a
{
  display: block;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: white;
}

#login .login_links a:hover
{
  text-decoration: underline;
}

/* -------------------- The end of login page styling ------------------------ */

/* -------------------- Media queries ------------------------ */

@media (min-width: 576px)
{

}

@media (min-width: 768px)
{
  #title
  {
    text-align: center;
  }
}

@media (min-width: 992px)
{
  #title
  {
    text-align: right;
  }
}

@media (min-width: 1200px)
{
  #title
  {
    text-align: right;
  }
}

/* -------------------- The end of media queries ------------------------ */
